.nav-btn-Listusers{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top:100px;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: #000;
}

.nav-btn-Listusers:hover{
    background-color: aqua;
}