.UsersList_content{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #000;
}

#form{
    position: absolute;
    height: 800px;
    width: 800px;
    top: 50px;
    transform: translate(50%);
    text-align: left;
    color: black;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
}